AZURE_ENDPOINT=
AZURE_API_KEY_PRIMARY=
AZURE_API_KEY_SECONDARY=
AZURE_GPT_ENDPOINT=
AZURE_GPT_API_KEY=
AZURE_GPT_MODEL=
AZURE_GPT_API_VERSION=
# Text Embedding ADA 002
AZURE_TEXT_EMBEDDING_ADA_002_ENDPOINT=
AZURE_TEXT_EMBEDDING_ADA_002_API_KEY=
# llama index
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_DEPLOYMENT=
AZURE_TEXT_EMBEDDING_ADA_002_API_KEY=
AZURE_TEXT_EMBEDDING_ADA_002_ENDPOINT=
# llama cloud
LLAMA_CLOUD_API_KEY=
OPENAI_API_KEY=